body {
  background-color: #84918f;
}

h2 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: #ffde00;
  text-shadow: black 5px 0 5px;
}

.divPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.divPersonajes {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
  margin-bottom: 3rem;
  text-align: center;
  border-radius: 20px;
}

.divPersonajes:hover {
  box-shadow: 7px 15px 10px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transform: scale(1.05);
}

.nombre {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.frase {
  font-size: 1rem;
  margin-top: 0;
  padding: 5px;
}

.imgPersonajes {
  width: 200px;
  height: 300px;
}
